<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../scss/style.scss" />
    <link rel="stylesheet" href="../scss/addCity.scss" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <section class="headerTitle-container">
        <h1 class="headerTitle">Riwi Weather</h1>
      </section>
      <nav>
        <ul class="nav-list">
          <li><a href="./home.html">Home</a></li>
          <li><a href="">Agregar ciudad</a></li>
          <li><button id="logout-button">Log out</button></li>
        </ul>
      </nav>
    </header>

    <main class="addCity-main">
      <h2 class="addCity-title">Agregar Ciudad</h2>

      <section class="form-container">
        <form id="addCity-form" action="">
          <input
            type="text"
            class="addCity-input"
            id="new-city"
            placeholder="Ciudad"
          />
          <input
            type="text"
            class="addCity-input"
            id="new-country"
            placeholder="Pais"
          />
          <input
            type="url"
            class="addCity-input"
            id="new-img"
            placeholder="URL imagen"
          />
          <textarea
            class="addCity-textarea"
            id="newCity-description"
            placeholder="Descripcion del analisis"
          ></textarea>
          <div class="button-container">
            <button type="submit" class="addCity-button">Agregar</button>
          </div>
        </form>
      </section>
    </main>
    <script type="module" src="../Controller/addCity.ts"></script>
  </body>
</html>
