@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

$gray: #d0d0d0;
$black: #000000;
$inputGray: #fafafa;
$lightBlue: #4cb5f9;
$white: #FFFFFF;

header{
    width: 100%;
    height: 75px;
    border-bottom: 1px solid $gray;
    display: flex;

    .headerTitle-container{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 30px;

        .headerTitle{
            font-size: 30px;
        }
    }

    nav{
        width: 50%;
        height: 100%;

        .nav-list{
            width: 100%;
            height: 100%;
            padding-right: 45px;
            display: flex;
            align-items: center;
            justify-content: end;
            list-style: none;
            gap: 30px;

            li a{
                text-decoration: none;
                color: $black;
            };
        }
    }
    
}